@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #cdd4e4;
}
.board {
    width: auto;
    .board-row {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .cell {
            display: flex;
            width: 50px;
            font-weight: bold;
            font-size: 30px;
            height: 50px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgb(0 0 0 / 35%);
            /* padding: 5px; */
            margin: 5px;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }
}

ul.words-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        background: #35ab35;
        color: #fff;
        padding: 2px 5px;
        margin: 0 5px 5px 0;
        font-weight: bold;
        border-radius: 5px;
    }
}

.score-area {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    background-color: black;
    color: #4bff4b;
    font-weight: bold;
    border-radius: 5px;

    .score-ui {
        font-size: 24px;
    }
    .secs {
        font-size: 14px;
        text-transform: uppercase;
    }
}

.highscore {
    background-color: #06060614;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    h5 {
        margin-bottom: 0;
    }
    span {
        font-weight: bold;
    }
}
