{% extends 'base.html' %} {% block title %}Boggle{% endblock %} {% block content
%} {# {% print(session['board']) %} #}

<div class="board">
    {% for row in session['board'] %}
    <div class="board-row">
        {% for cell in row %}
        <div class="cell">{{ cell }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<form
    id="guess-form"
    method="POST"
    class="add-word row mt-3 gx-3 gy-2 align-items-center justify-content-center"
>
    <div class="col-auto form-floating">
        <input
            type="text"
            class="word form-control"
            id="word"
            name="word"
            placeholder="Apple"
        />
        <label for="guess">Guess A Word</label>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-lg btn-primary">Guess</button>
    </div>
</form>

{% endblock %}
